@import '../../styles/vars';
@import '../../styles/mixins';

.filter {
  margin-bottom: 40px;

  &__label {
    display: block;

    @include font-16;
    font-weight: 600;

    margin-bottom: 10px;
  }

  &__input {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  }
}