@import '../../styles/mixins';

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;

  @include tablet {
    display: grid;
    justify-items: center;
    gap: 45px 45px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}